<div class="row">
    <div class="col-xs-12">
        <img src="{{recipeSelected.imagePath}}" [alt]="recipeSelected.name"
        class="img-responsive"
        style="max-height: 200px;"/>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipeSelected.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group " appDropdown>
            <button class="btn btn-primary dropdown-toggle dropdown-toggle"  data-toggle="dropdown">Manage recipe</button>
            <ul class="dropdown-menu" >
                <li class="nav-item"><a class="nav-link dropdown-item" (click)="onAddIngredients()" role="button">To Shopping List</a></li>
                <li class="nav-item"><a class="nav-link dropdown-item" (click)="onEditRecipe()">Edit Recipe</a></li>
                <li class="nav-item"><a class="nav-link dropdown-item" (click)="onDeleteRecipe()" role="button">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipeSelected.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipeSelected.ingredients">
                {{ingredient.name}} - {{ingredient.amount}}
            </li>
        </ul>
    </div>
</div>