
<!--<app-header (featureSelected)="onNavigate($event)"></app-header>-->
<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <span>{{name}}</span>
            <!--<app-recipes *ngIf="loadedFeature==='recipe'"></app-recipes>
            <app-shopping-list *ngIf="loadedFeature!=='recipe'"></app-shopping-list>-->
            <router-outlet></router-outlet>
        </div>
        <!--<p appBasicHighlight *appUnless="false">TEST DIRECTIVE</p>
        <p appBetterHighlight [defaultColor]="'transparent'" highlightColor="green">TEST DIRECTIVE2</p>-->
    </div>
</div>